<div class="content-item">
    <div class="single-lesson">
        <div class="image">
            <img src="/img/class/9a79c80c7989e849a26198f4b55c17b.jpg">
        </div>
        <h3>空竹</h3>
    </div>
    <div class="single-lesson">
        <div class="image">
            <img src="">
        </div>
        <h3>敬请期待</h3>
    </div>
    <div class="single-lesson">
        <div class="image">
            <img src="">
        </div>
        <h3>敬请期待</h3>
    </div>
</div>
<!-- <div class="content-item">
    <div class="single-lesson">
        <div class="image">
            <img src="">
        </div>
        <h3>课程4</h3>
    </div>
    <div class="single-lesson">
        <div class="image">
            <img src="">
        </div>
        <h3>课程5</h3>
    </div>
    <div class="single-lesson">
        <div class="image">
            <img src="">
        </div>
        <h3>课程6</h3>
    </div>
</div> -->
