<div id="content1" class="content-item" data-article="index1" data-url="../text-content/index.html?id=1">
    <div class="image">
        <img src="/img/activities/微信图片_20250302224630.jpg">
    </div>
    <div class="simple-content">
        <a href="../text-content/index.html?id=1"><h3>空竹古韵，青春新篇：大学生空竹制作初体验</h3></a>
        <p>空竹，作为一项古老而富有魅力的民间技艺，承载着历史的厚重与民众的智慧，正等待着新一代年轻人去探索、传承。</p>
    </div>
</div>
<div id="content2" class="content-item" data-article="index2" data-url="../text-content/index.html?id=2">
    <div class="image">
        <img src="/img/activities/p4.jpg">
    </div>
    <div class="simple-content">
        <a href="../text-content/index.html?id=2"><h3>非物质文化遗产空竹国家级传承人介绍</h3></a>
        <p>张国良出身空竹世家，爷爷张瑞如精湛的双轮空竹制作手艺，父亲张宝全对空竹外形的创新，让他自幼便深受熏陶，传承的种子在心中悄然种下。虽因时代变迁暂别空竹，但1990年，对家族手艺的使命感促使他决然回归，重拾技艺 。</p>
    </div>
</div>